* {
    font-family: "Coiny";
}

body {
    background-color: #460067;
    background-repeat: no-repeat;
    background-size: auto;
}

.menu {
    display: flex;
    background:white;
    color:purple;
    text-align: center;
 }

 .welcome {
    display:grid;
    color: purple;
    background-color: whitesmoke;
    text-align: center;
    font-size: large;
    text-decoration:underline;
}

.Contato {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}